<div fxLayout="column" class="full-height">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
      <button class="margin-right-10" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="example-icon">menu</mat-icon>
      </button>
      <span>Note</span>
      <span fxHide.lt-md>(You can store your information for later use)</span>
      <form fxFlex="60" fxFlex.lt-md="80" class="search-box-form padding-h-10 padding-v-5 margin-h-15 border-r-2">
        <input matInput fxFlex class="search-box padding-h-5 border-r-2">
      </form>
      <mat-icon class="example-icon">search</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxLayout="row" class="full-height">

    <mat-sidenav-container class="full-width">
      <mat-sidenav #sidenav [mode]="sideNavigationNode" class="mat-elevation-z6 navigarion-color">
        <app-side-nav></app-side-nav>
        <!-- [mode]="mode" -->
        <!-- <div fxFlex="20" class="full-height overflow-auto mat-elevation-z6 navigarion-color">
        </div> -->
      </mat-sidenav>

      <mat-sidenav-content class="background-transparent">
        <router-outlet></router-outlet>
        <!-- <div fxFlex="80" class="full-height overflow-auto">
        </div> -->
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
</div>