<div fxLayout="column" class="full-height">
  <mat-toolbar color="primary" class="mat-elevation-z6" >
    <mat-toolbar-row>
      <span>Note</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxLayout="row" class="full-height">
    <div fxFlex="20" class="full-height overflow-auto mat-elevation-z3">

      <app-side-nav></app-side-nav>
    </div>
    <div fxFlex="80" fxLayoutAlign="center start" class="full-height overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>